<!-- <div class="block w-full h-full">
    
    <div class="flex items-center justify-center h-screen">
        <svg fill="none" viewBox="0 0 24 24" class="w-8 h-8 animate-spin loader-primary">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
        </svg>
    </div>
</div> -->

    <!-- <div class="flex flex-col  w-full h-screen  items-center justify-center "> 
        <div class="w-1/2 h-1/2 mx-auto">
            <img src="../../../assets/rings.svg" class="m-auto w-2/6 h-2/6"/>         
        </div>
        <span class="mt-8 font-medium text-xl text-gray-800 text-center">We are retrieving your information ...</span>        
    </div> -->


    <div >
        <!-- <span class="relative block w-0 h-0 mx-auto my-0 opacity-75 text-sky-500 top-1/2" style="top: 50%">
        </span> -->
        <div class="flex items-center justify-center h-screen">
            <svg fill="none" viewBox="0 0 24 24" class="w-8 h-8 text-sky-500 animate-spin">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                </path>
            </svg>
        </div>
    </div>