<google-chart 
[type]="chartType"
[data]="myData"
[columns]="chartColumns"
[title]="myTitle"
style="width: 100%;"></google-chart>

<div>
  <div><google-chart 
    [type]="chartType"
    [data]="myData"
    [columns]="chartColumns"
    [title]="myTitle"
    style="width: 100%;"></google-chart></div>
  <div><google-chart 
    [type]="chartType"
    [data]="myData"
    [columns]="chartColumns"
    [title]="myTitle"
    style="width: 100%;"></google-chart></div>
    <div>
      <google-chart 
      #chart
        [type]="chartType2"
        [data]="myData2"
        [columns]="chartColumns2"
        [title]="myTitle"
        style="width: 100%;"
        [options]="options"
        (ready)="onReady($event)">
      </google-chart>
      <button type="button" (click)="onClick()"  >Change Value</button>
    </div>
</div>