<div class="mt-2 border-t border-gray-200">
  <div class="px-4 mx-auto mt-2 max-w-full sm:px-6 lg:px-8 ">
        <div class="overflow-hidden bg-white shadow sm:rounded-md">
            <ul role="list" class="divide-y divide-gray-200">
              <li >
                <a (click)="onClickReport('planning-and-forecasting-report')" >
                  <div class="px-4 py-4 sm:px-6">
                    <div class="flex items-center justify-between">
                      <p class="text-sm font-medium text-gray-600 truncate transition duration-300 ease-in-out transform cursor-pointer hover:scale-95 hover:text-gray-700">Planning and Forecasting Report</p>
                    </div>
                  </div>
                </a>
              </li>

            </ul>
          </div>
    </div>
    </div>

