#chart2 {
    max-width: 650px;
    margin: 35px auto;
  }

  .colors1{
    background: #01529d, 
    
  }
  .colors2{
     
    background: #775DD0, 
    
  }
  .colors3{
    
    background: #69D2E7, 
    
  }
  .colors4{
    
    background: #FF9800;
  }
