/* You can add global styles to this file, and also import other style files */


//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// regular style toast
@import '~ngx-toastr/toastr';


html, body { height: 100%; }

html {
  font-family: 'Trebuchet MS' !important;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: none !important;
  border-color: #ffffff !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}



.activeButton{
    @apply bg-primary-200 text-white flex items-center px-2 py-2 text-sm font-medium rounded-md
}

.activeButton2{
    @apply border-pink-500 text-gray-900
}

.activeText2{
    @apply text-pink-500  hover:text-pink-700
}


.dashboardButton{
  @apply flex items-center px-2 py-2 text-sm font-medium text-white rounded-md transform transition hover:scale-95 duration-300 ease-in-out hover:bg-primary-900 hover:text-gray-200
}


.graph-title{
    @apply mt-1 text-lg font-semibold text-gray-600;
}

@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  router-outlet + * {
    display: block;  /* Change display inline to block */
    @apply h-full;
    animation: fade 1s;
  }


  .stats{
    @apply mt-1 text-3xl font-medium text-gray-600
  }

  .statsText{
    @apply text-sm font-medium text-gray-500 truncate
  }

  .statsCard{
    @apply flex flex-col px-4 py-2 overflow-hidden rounded-md bg-white items-center shadow transform transition hover:scale-105 duration-300 ease-in-out hover:bg-indigo-100 hover:text-primary-50
  }



  .example-tooltip-blue {
    @apply bg-indigo-700 text-white;
  }

  .textButton{

    @apply cursor-pointer border border-transparent text-sm rounded-md font-medium text-indigo-600 hover:text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
  }

  .hoverSmall{
    @apply transform transition hover:scale-95 duration-300 ease-in-out hover:bg-primary-900 hover:text-gray-200
  }

  .homePageGradient{
    background: rgb(88,92,163);
    background: linear-gradient(90deg, rgba(88,92,163,1) 30%, rgba(22,29,128,1) 73%, rgba(16,15,69,1) 100%);
  }

  .fullWidth{
    @apply max-w-full mx-auto
  }




