<div id="chart" class="flex-1">
    <apx-chart  [series]="chartOptions.series"
        [chart]="chartOptions.chart" 
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions" 
        [yaxis]="chartOptions.yaxis" 
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill" 
        [stroke]="chartOptions.stroke" 
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis" 
        [title]="chartOptions.title" 
        [subtitle]="chartOptions.subtitle"
        [noData]="chartOptions.noData">
    </apx-chart>
</div>

<!-- <div class="flex flex-col md:flex-row">
    <div class="md:w-2/5 w-full">
        {{seriesName}}
    </div>
    <div class="md:w-3/5 w-full">
        <apx-chart  [series]="chartOptions.series"
        [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
        [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis" [title]="chartOptions.title" [subtitle]="chartOptions.subtitle"
        [noData]="chartOptions.noData">
    </apx-chart>
    </div>
</div> -->
